# Gradle
.gradle/
build/
**/build/

# Android local config
local.properties

# IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Android extras (recommended)
captures/
.externalNativeBuild/
.cxx/